*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #ede8f5; /* Light blue */
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
