.task-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
  padding: 15px;
  background-color: #ede8f5;
  border-radius: 10px;
  margin-bottom: 15px;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  position: relative;
}

/*Selects only the direct child elements of .task-card-container*/

.task-card-container > div:not(:last-child) {
  border-right: 1px dotted violet;
}

.task-card-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.task-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  padding: 5px;
}

.task-card.task-priority {
  font-weight: bold;
  text-transform: capitalize;
}

.task-card.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.task-card.actions button {
  background-color: #3d53a0;
  border: none;
  border-radius: 40px;
  padding: 5px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  color: white;
}

.task-card.actions button:hover {
  background-color: #7091e6;
}

@media (max-width: 768px) {
  .task-card-container.header,
  .task-card-container,
  .task-card {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .task-card.actions {
    flex-direction: column;
  }

  .task-card.actions button {
    width: 100%;
    margin-bottom: 5px;
  }
}

.custom-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: violet;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the element */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.custom-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
